/* Main stylesheet to be used in all documents. */


/* setup the global font settings as given in the writing guide */


/* https://content.byui.edu/file/ec065ae0-f53b-46f4-8a96-185b30baa1c1/1/Course/CS364M00WritingGuidelines.html */

* {
    font-size: 12px;
    font-family: Garamond;
}

html {
    padding: 50px 0;
    background: lightgray;
}

div.page, div.super-page {
    max-width: 600px;
    background: white;
    margin: auto;
    margin-bottom: 10px;
    padding: 60px;
    line-height: 1.5;
    position: relative;
}

div.page {
    height: 800px;
}

div.page-number {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 14px;
}

.title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.title-page h1 {
    font-size: 25px;
}
.title-page hr {
    width: 100%;
}
.title-page h2 {
    margin: 0;
}

header {
    padding: 10px 0;
}

header>div {
    font-size: 11px;
}

h1,
h2,
h3,
h4.big,
h5.big {
    font-weight: bold;
    margin: 10px 0 0 0;
}

h4,
h5,
h6 {
    font-weight: unset;
    margin: 0;
}

h1,
h1 span {
    font-size: 22px;
    margin: 5px 0;
    margin-bottom: 0;
}

h2,
h2 span {
    margin-top: 40px;
    font-size: 18px;
    margin-bottom: 0;
}

h3,
h3 span {
    font-size: 16px;
    margin-bottom: 0;
}

.no-top-margin {
    margin-top: 0;
}

h4,
h4 span {
    font-size: 14px;
}

h5,
h5 span {
    font-size: 12px;
    margin: 0;
}

h6,
h6 span {
    font-size: 10px;
    margin: 0;
}

span.id {
    padding-right: 5px;
    letter-spacing: 2px;
}

p {
    margin-top: 0;
    /* text-indent: 30px; */
}

p.no-indent {
    text-indent: 0;
}

.level1 {
    padding-left: 20px;
}

ul {
    margin: 0;
    padding-left: 25px;
}

.list-title {
    margin-top: 5px;
    margin-bottom: 0;
}

ol {
    padding-left: 5px;
}

ol>li {
    margin: 0;
    padding: 0 0 0 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}

ol>li:before {
    display: inline-block;
    width: 1.5em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

ol.steps>li:before {
    width: 4em;
    content: "Step "counter(item) ":";
}

ul.unlabeled {
    list-style: none;
}

.indent {
    padding-left: 20px;
}

.indent.visible {
    margin-left: 3px;
    border-left: 1px solid gray;
}

table {
    border-collapse: collapse;
}

table tr td,
table tr th {
    padding: 5px;
    border: .5px solid black;
}

table tr th {
    background-color: #ededed;
}

table tr:nth-child(odd) {
    background-color: #f7f7f7;
}

span.highlight {
    background-color: yellow;
}

img {
    max-width: 100%;
}


/* Main stylesheet to be used in all documents. */
